[Unit]
Description=OpenStack Network Service
After=cloud-final.service


[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/var/lib/openstack-networkd
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/lib/openstack-networkd
ExecStart=/bin/bash /usr/local/bin/openstack-networkd.sh
Restart=always
TimeoutStopSec=15
RestartSec=1
StartLimitBurst=5
StartLimitIntervalSec=10

[Install]
WantedBy=multi-user.target
