[Unit]
Description=OpenStack Network Service
After=network-online.target


[Service]
User=root
Group=root
Type=simple
WorkingDirectory=/var/lib/openstack-networkd
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/lib/openstack-networkd
ExecStart=/bin/bash /usr/local/bin/openstack-networkd.sh

[Install]
WantedBy=multi-user.target
